#projects{
    background: linear-gradient(to top, #aad4e5 0%, #ffffff 100%);
    padding: 10% 0 10% 0;
}
#projects h1{
    text-align: center;
    padding: 0 0 0% 0;
    font-size: 350%;
}
.firstproject h5{
    text-align: center;
    
}
.firstproject p{
    text-align: center;
    
}
.card{
    padding: 5 0 5 0;
}
#snowFall {
    background:none;
    font-family: fontfamily;
    height: 100%;
    left:0;
    position: absolute; 
    width: 100%;
    z-index:0;
    animation-iteration-count:infinite;
    background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S1.png'),
      url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S2.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/426955/S3.png');
      -webkit-animation: snowFall 20s linear infinite;
        -moz-animation: snowFall 20s linear infinite;
        -ms-animation: snowFall 20s linear infinite;
        animation: snowFall 20s linear infinite;
  }
  
  @-webkit-keyframes snowFall {
      0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-moz-keyframes snowFall {
      0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @-ms-keyframes snowFall {
      0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  @keyframes snowFall {
      0% { background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
  }
  
